.galleryItem {
  display: flex;
  justify-content: center;
  /*центрируем элемент по горизонтали */
  align-items: center;
  /* и вертикали */

  overflow: hidden;
  /* если элемент больше блока-родителя – обрезаем лишнее */

  border-radius: 4px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.galleryItem:hover {
  transform: scale(1.03);
  cursor: pointer;
}
